<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="roles">
      <h2 data-cy="rolesDetailsHeading"><span jhiTranslate="pruebaTecnicaNexosApp.roles.detail.title">Roles</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ roles.id }}</span>
        </dd>
        <dt><span jhiTranslate="pruebaTecnicaNexosApp.roles.nombreRol">Nombre Rol</span></dt>
        <dd>
          <span>{{ roles.nombreRol }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/roles', roles.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
